### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### Compiled class file ###
*.class

### Log file ###
*.log

### Maven ###
log/
target/
!.mvn/wrapper/maven-wrapper.jar

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Mac ###
.DS_Store

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/